@import "fonts";
@import "main";
@import "styles";


///Header
.header {
    height: 100%;
    background-color: $sidebar-color;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    width: 360px;
    height: 100vh;

}



.header__nav {
    @include fontbold;
    margin-left: 15%;
    margin-right: 15%;

}

.header__menu__item {
    padding-bottom: 20px;
    font-size: 1.125rem;
    cursor: pointer;

}

.header__menu__text {
    @include fontbold;
    text-transform: capitalize;
    font-size: 1rem;
    color: $text-color;
}

.header__title {
    @include fontlogo;
    color: $text-color;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 60px;


    span {
        color: orange;
    }
}


/// header animations
.arrow {
    width: 200px;
    height: 40px;
    position: relative;
    background: orange;
    transition: 1s ease all;
    line-height: 40px;
    padding: 0 24px;
    margin-top: 5px;
}

.arrow li {
    text-transform: capitalize;
    text-decoration: none;
    color: $sidebar-color;
    cursor: pointer;
}

.arrow:hover:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid orange;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

}

.arrow:hover {
    width: 250px;
}

.arrow:hover li {
    color: $sidebar-color;
    font-size: 120%;
}


[data-tab-content] {
    display: none;
}

.act[data-tab-content] {
    display: flex;
}

//// media

@media (max-width: 991.98px) {
    .header {
        display: none;
    }
}