html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2B2B2B;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;

}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.clearfix {
    overflow: auto;
}