@import "fonts";
@import "main";
@import "styles";

.popup {
    margin-top: 60px;

}

.popup__open {
    width: 300px;
    padding: 16px 32px;
    position: relative;
    @include fontbold;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #e2525c;
    cursor: pointer;
}


.modal__window {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid orange;
    border-radius: 15px;
    z-index: 999;
    background-color: #e2525c;
    width: 500px;
    max-width: 85%;
}

.modal__window.active-modal {
    display: block;
}

.modal__header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal__title {
        @include fontbold;
        color: $text-color;
        font-size: 1.5rem;
    }

    .modal__close {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        color: $text-color;
        font-size: 1.875rem
    }
}

.modal__body {
    padding: 20px 35px;
    @include fontbold;
    color: $text-color;
    font-size: 1.5rem;
    line-height: 1.5;
}

#overlay {
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: .5);
    pointer-events: none;
}

#overlay.active-overlay {
    opacity: 1;
    pointer-events: all;
}