@import "fonts";
@import "main";
@import "styles";



/// slider 1

.slider {
    max-width: 600px;
    position: relative;
    margin-bottom: 100px;

}



.slider .slider__items .slider__item img {
    max-width: 100%;
    display: block;
}

.slider .slider__items .slider__item {
    display: none;
    position: relative;
}

.slider-left,
.slider-right {
    position: absolute;
    color: orange;
    font-size: 1.375rem;
    margin-top: 12px;
    cursor: pointer;
    transition: all .500ms ease;
}

.slider-left:hover,
.slider-right:hover {
    color: #eee;
}


.slider-left {
    left: 30px;

}

.slider-right {
    right: 30px;
}

.slider .slider__items .slider__item .slider__text {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba($color: #000000, $alpha:.1);
    color: orange;
    text-align: center;
    line-height: 50px;
    @include fontmedium;
    font-size: 1rem;
    text-transform: capitalize;
}

.slider .slider__items .slider__item.active {
    display: block;
}


@media (max-width: 992px) {
    .slider {
        max-width: 500px;

    }
}

@media (max-width: 767px) {
    .slider {
        max-width: 400px;

    }
}


/// slider 2

.slideruno {
    max-width: 600px;
    position: relative;
    margin-bottom: 100px;

}


.slideruno__items .slideruno__item img {
    max-width: 100%;
    display: block;
}





.slider-dots {
    width: 90%;
    margin: 0 auto;
    margin-top: -80px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.slider-dots .dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 10px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dots .dot-active {
    background-color: #000;
    height: 18px;
    width: 18px;
}


//next - prev

.slideruno-left,
.slideruno-right {
    position: absolute;
    color: orange;
    font-size: 3rem;
    // margin-top: 12px;
    cursor: pointer;
    transition: all .500ms ease;
}

.slideruno-left:hover,
.slideruno-right:hover {
    color: rgb(29, 28, 28);
}


.slideruno-left {
    left: 30px;
    top: 50%;

}

.slideruno-right {
    right: 30px;
    top: 50%;
}