@import "fonts";
@import "main";



$sidebar-color: #333333;
$text-color: #EEEEEE;
$main-color: #2B2B2B;

.main {
  background-color: $main-color;
  padding-left: 0px;
  padding-top: 10px;

}

.main__data {
  padding-top: 5px;
  padding-left: 430px;

}

.nav-icon {
  padding-top: 10px;
  margin: 1em;
  width: 40px;
  position: absolute;
  left: 295px;
  top: 10px;

}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
  display: block;
}

.nav-icon:hover:before {
  transform: translateY(12px) rotate(135deg);

}

.nav-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);

}

.nav-icon:hover div {
  transform: scale(0);

}

.main__text {
  @include fontlogo;
  color: orange;
  text-transform: capitalize;
  font-size: 1.875rem;
  position: relative;
  margin-bottom: 35px;
}

.main__text:after {
  background-color: orange;
  border-radius: 9px;
  content: '';
  height: 2px;

  cursor: pointer;
  display: block;
}

@media (max-width: 991.98px) {



  // .main__data {
  //   margin: auto;
  //   width: 50%;
  // }

  // .nav-icon:after,
  // .nav-icon:before,
  // .nav-icon div {
  //   display: block;
  // }

}