@import "fonts";
@import "main";
@import "styles";

// timer 1


.timer {
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;


}

.timer li {
    @include fontmedium;
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: white;
}

.timer li span {
    display: block;
    font-size: 4.5rem;
    color: orange;
    @include fontbold;
}

.timer__text {
    @include fontbold;
    color: $text-color;
    font-size: 1.5rem;
    padding-left: 1rem;
}

// timer 2

.countdown {
    @include fontbold;
    color: $text-color;
    font-size: 4.5rem;
    padding-left: 1rem;
}